.mdl-snackbar:hover  {
  background-color: red;
}

.show {
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
  bottom: 12%;
  z-index: 9999!important;
}

.hide {
  -webkit-animation: fadeout 0.5s;
  animation: fadeout 0.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 12%; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 12%; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
