<mn-panel  id="pnlButtons" title="Buttons">
  <mn-button
    id="btn_1"
    type="raised"
    title="BTN1"
    colored="primary"></mn-button>

  <mn-button id="btn_2"
    type="raised"
    title="BTN2"
    colored="accent">
</mn-button>

<mn-button id="btn_3" (onClick)="showToast('Operazione eseguita')"
  type="fab" colored="primary"></mn-button>

  <mn-button id="btn_4"
    type="raised"
    title="BTN4"
    colored="accent">
</mn-button>

<mn-button
  id="btn_5"
  type="raised"
  title="BTN5"
  colored="primary"></mn-button>


    <mn-button id="btn_8"
        type="flat"
        title="BTN7"
        colored="accent">
    </mn-button>

    <mn-button id="btn_9"
        type="flat"
        title="BTN9"
        colored="primary">
    </mn-button>

    <mn-button id="btn_8"
        type="raised"
        title="BTN7">
    </mn-button>

    <mn-button id="btn_9"
        type="flat"
        title="BTN9">
    </mn-button>

    <mn-button id="btn_10"
        type="flat" colored="accent"
        title="BTN10" disabled="true">
    </mn-button>
</mn-panel>
